<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DApp</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
</head>
<style>
    .split {
    height: 100%;
    width: 34%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
    }

    .left {
    left: 0;
    background-color: #ffeead;
    }

    .right {
    right: 0;
    background-color: #ff6f69;
    }

    .center {
      left:425px;
      background-color: #ffcc5c; 
    }

    .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    }

    body {
        font-family: 'Montserrat';
    }

    #clicked, #clicked1, #clicked2, #clicked3 {
        border: none;
        cursor: pointer;
        margin: 4px 2px;
        padding: 10px 25px;
        background-color: yellowgreen;
    }

    input {
        border: none;
        padding: 3px 20px;
    }
</style>

<script>
    function myfunction3() {
        var text9=$('#text9').val();
        var text10=$('#text10').val();
        var text11=$('#text11').val();
        var text12=$('#text12').val();

        $.ajax({
            url: "/join3",
            type: "POST",
            data: {text9:text9, text10:text10, text11:text11, text12:text12}
        }).done(function(response) {
            var html3="<br><p><b>  <b><p>";
            $(".show-data3").empty();
            response3 = response.result3;
            $.each(response3, function(key, val) {
                console.log(val);
                html3 +="<p>"+val+"<p>" 
            });
            html3 +="<br>";
            $(".show-data3").append(html3);
            
        });
        
    };

    function myfunction2() {
        var text9=$('#text9').val();
        var text10=$('#text10').val();
        var text11=$('#text11').val();
        var text12=$('#text12').val();
        $.ajax({
            url: "/join2",
            type: "POST",
            data: {text9:text9, text10:text10, text11:text11, text12:text12}
        }).done(function(response) {
            var html2="<br><p><b>  <b><p>";
            $(".show-data3").empty();
            response2 = response.result2;
            $.each(response2, function(key, val) {
                console.log(val);
                html2 +="<p>"+val+"<p>" 
            });
            html2 +="<br>";
            $(".show-data2").append(html2);
        });
    };

    function myfunction1() {
        var text8=$('#text8').val();

        $.ajax({
            url: "/join1",
            type: "POST",
            data: {text8:text8}
        }).done(function(response) {
            var html1="<br><p><b><b><p>";
            $(".show-data1").empty();
            response1 = response.result1;
            $.each(response1, function(key, val) {
                console.log(val);
                html1 +="<p>"+val+"<p>" 
            });
            html1 +="<br>";
            $(".show-data1").append(html1);
        });
    };

    function myFunction() {
        var text1= $('#text1').val();
        var text2= $('#text2').val();
        var text3= $('#text3').val();
        var text4= $('#text4').val();
        var text5= $('#text5').val();
        var text7= $('#text7').val();

        $.ajax({
                url: "/join",
                type: "POST",
                data: {text1:text1, text2:text2, text3:text3, text4:text4, text5:text5, text7:text7}          
                }).done(function(response) {
                    var html= "<br><p><b> <b><p>";  
                    $(".show-data").empty();
                    response =response.result;
                    $.each(response,function(key,val){
                    console.log(val);
                        html+="<p>"+val+"<p>"                
                    });
                    html +="<br>";
                    $(".show-data").append(html);
                });
    };  
</script>
<body>
    <div class="split left">
        <div class="centered">
            <h2>Farmers Corner</h2>
            <p>                    
                <b>ID<br> <input type="text" id="text1" name="text1"><br><br>
                FRUIT NAME<br><input type="text" id="text5" name="text5"><br><br>
                TEMPERATURE (Fahrenheit) <br> <input type="text" id="text2" name="text2"><br><br>
                WEIGHT (Kg) <br><input type="text" id="text3" name="text3"><br><br>
                NO. OF DAYS <br><input type="text" id="text4" name="text4"><br><br>
                PRICE (Rupees)<br><input type="text" id="text7" name="text7"><br><br>
                <button id="clicked" onclick="myFunction()">SUBMIT</button></b>
            </p>
            <div class="show-data" ></div>
        </div>
    </div>
    <div class="split center">
        <div class="centered">
          <h2>Asset Booking</h2>
          <b>1. Pesticides<br>
            2. Livestocks<br>
            3. Machineries<br>
          </b>
          <p>
            <b>
              ID <br><input type="text" id="text9" name="text9"><br><br>
              DATE <br><input type="text" id="text10" name="text10"><br><br>
              MONTH <br><input type="text" id="text11" name="text11"><br><br>
              YEAR <br><input type="text" id="text12" name="text12"><br><br>
              <button id="clicked3" onclick="myfunction3()">CHECK</button>
              <button id="clicked2" onclick="myfunction2()">BOOK</button>
            </b>
          </p>
          <div class="show-data3"></div>
          <div class="show-data2"></div>
        </div>
      </div>
    
    <div class="split right">
        <div class="centered">
            <h2>Buy Vegetables/Fruits</h2>
            <b>1. Apple<br>
            2. Orange</b>
            <p>
                <b>
                    FRUIT ID <br> <input type="text" id="text8" name="text8"><br><br>
                    <button id="clicked1" onclick="myfunction1()">BUY</button>
                </b>
            </p>
            <div class="show-data1" ></div>
        </div>
    </div> 
</body>
</html>